body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: aqua;
}

.joke{
    border: 1px solid black;
    width: 200px;
}